.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.item {
  list-style: none;
  border-radius: 5px;
  height: 100%;
}
