.wrapper {
  position: absolute;
  top: 600px;
  left: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 80px;
}

.descriptionWrapper {
  position: relative;
}

.posterWrapper {
}

.description {
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  color: white;
  margin-left: 40px;
}
