.wrapper {
  position: absolute;
  top: 600px;
  left: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 80px;
  background-color: var(--mantine-color-body);
}

.descriptionWrapper {
  position: relative;
}

.description {
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  color: var(----badge-bd);
  margin-left: 40px;
}
