.container {
  padding: 6rem;
  min-height: 100vh;
}

.moviesWrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.firstBlockNavigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
