.container {
  padding: 6rem;
  min-height: 100vh;
}

.moviesWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.moviesWrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
}
