.inputWrapper {
  width: 250px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );
}

.input {
  width: 100%;
  border: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0))
    1px solid;
  border-radius: 2px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
}
